<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <%- include('../cdn.ejs')%>
  </head>
  <body>
    <div class="container-fluid m-0 p-0">
      <div class="row m-0 p-0">
        <div
          class="col-lg-2 col-md-4 col-12 p-5 text-center"
          style="background-color: #191928; height: 60vh"
        >
          <h3 class="text-warning fw-bold mb-4">Restoran</h3>

          <a href="/admin" class="nav-link text-warning fw-bold my-3"
            >Services</a
          >
          <a href="/admin/team" class="nav-link text-light fw-bold my-3"
            >Team</a
          >
          <a href="/admin/contact" class="nav-link text-light fw-bold my-3"
            >Contact</a
          >

          <a href="/admin/book" class="nav-link text-light fw-bold my-3"
            >Booking Details</a
          >

          <a href="/admin/user" class="nav-link text-light fw-bold my-3"
            >User Information</a
          >

          <a href="/admin/menu" class="nav-link text-light fw-bold my-3"
            >Menu</a
          >

          <a href="/admin/logout" class="nav-link text-light fw-bold my-3"
            >Logout</a
          >
        </div>

        <div
          class="col-lg-10 col-md-8 col-12 p-0"
          style="background-color: #191928; border-left: 10px solid white"
        >
          <!-- services -->
          <div class="row m-0 p-5" id="service">
            <button
              class="btn btn-warning text-light"
              data-bs-toggle="collapse"
              data-bs-target="#addId"
            >
              Add Services
            </button>

            <!-- add service -->
            <div class="collapse my-3" id="addId">
              <div class="row m-0 p-0" id="service">
                <form
                  action="/admin/saveservice"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="form-group my-3 text-light">
                    <label for="">Service Name</label>
                    <input
                      type="text"
                      name="serv_name"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="form-group my-3 text-light">
                    <label for="">Service Information</label>
                    <input
                      type="text"
                      name="serv_info"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="form-group my-3 text-light">
                    <label for="">Service Image</label>
                    <input
                      type="file"
                      name="serv_img"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group mt-5 text-light text-center">
                    <button class="btn btn-warning text-light m-auto">
                      Save Service
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <table
              class="table table-hover table-bordered table-striped bg-light my-4"
            >
              <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Information</th>
                <th>Image</th>
                <th></th>
                <th></th>
              </thead>

              <tbody>
                <% if(data.length==0){%>
                <tr class="text-center">
                  <td colspan="5">No Records</td>
                </tr>
                <%}%> <% data.map((val)=>{ %>
                <tr>
                  <td><%= val.Id %></td>
                  <td><%= val.serv_name %></td>
                  <td><%= val.serv_info %></td>
                  <td>
                    <img
                      src="/uploads/<%= val.serv_img %>"
                      height="60px"
                      alt=""
                    />
                  </td>
                  <td>
                    <a
                      href="/admin/delete_serv/<%= val.Id%>"
                      onclick="return confirm('Are you sure ? ')"
                    >
                      <i class="fa fa-trash text-danger fw-bold"></i>
                    </a>
                  </td>

                  <td>
                    <a
                      href="/admin/edit_serv/<%= val.Id%>"
                      onclick="return confirm('Are you sure ? ')"
                    >
                      <i class="fa fa-edit text-success fw-bold"></i>
                    </a>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
