<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../cdn.ejs')%>
  </head>
  <body>
    <div class="container-fluid m-0 p-0">
      <div class="row m-0 p-0">
        <div
          class="col-lg-2 col-md-4 col-12 p-5 text-center"
          style="background-color: #191928; height: 60vh"
        >
          <h3 class="text-warning fw-bold mb-4">Restoran</h3>

          <a href="/admin" class="nav-link text-light fw-bold my-3">Services</a>
          <a href="/admin/team" class="nav-link text-light fw-bold my-3"
            >Team</a
          >
          <a href="/admin/contact" class="nav-link text-light fw-bold my-3"
            >Contact</a
          >

          <a href="/admin/book" class="nav-link text-light fw-bold my-3"
            >Booking Details</a
          >
          <a href="/admin/user" class="nav-link text-light fw-bold my-3"
            >User Information</a
          >
          <a href="/admin/menu" class="nav-link text-warning fw-bold my-3"
            >Menu</a
          >
          <a href="/admin/logout" class="nav-link text-light fw-bold my-3"
            >Logout</a
          >
        </div>

        <div
          class="col-lg-10 col-md-8 col-12"
          style="background-color: #191928; border-left: 10px solid white"
        >
          <!-- Add menu -->
          <div class="row m-0 p-5">
            <button
              class="btn btn-warning text-light my-3"
              data-bs-toggle="collapse"
              data-bs-target="#addId"
            >
              Add menu
            </button>

            <div class="collapse my-3" id="addId">
              <div class="row m-0 p-2">
                <form
                  action="/admin/addmenu"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="form-group my-3">
                    <label class="text-light fw-bold">Name of Menu</label>
                    <input
                      type="text"
                      name="menu_name"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="form-group my-3">
                    <label class="text-light fw-bold">Price of Menu</label>
                    <input
                      type="text"
                      name="menu_price"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="form-group my-3">
                    <label class="text-light fw-bold">Category of Menu</label>
                    <select name="menu_category" class="form-control" required>
                      <option value="none">None</option>
                      <option value="starter">Starter</option>
                      <option value="mainmenu">Main Menu</option>
                      <option value="desserts">Desserts</option>
                      <option value="kidsmenu">Kid's Menu</option>
                    </select>
                  </div>
                  <div class="form-group my-3">
                    <label class="text-light fw-bold">Image of Menu</label>
                    <input
                      type="file"
                      name="menu_img"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="form-group my-3 text-center">
                    <button class="btn btn-warning text-light">Add Menu</button>
                  </div>
                </form>
              </div>
            </div>

            <!-- starter -->
            <div style="border-top: 5px solid white">
              <h4 class="text-warning fw-bold my-3 text-center">Starter</h4>
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% starter.map((val)=>{%>
                  <tr>
                    <td><%= val.Id%></td>
                    <td><%= val.menu_name%></td>
                    <td><%= val.menu_price%></td>
                    <td>
                      <img
                        src="/uploads/<%= val.menu_img%>"
                        height="80px"
                        width="100px"
                        alt=""
                      />
                    </td>
                    <td>
                      <a
                        href="/admin/del_menu/<%= val.Id%>/starter"
                        onclick="return 
                        confirm('Are u sure ? ')"
                      >
                        <i class="fa fa-trash text-danger fw-bold"></i>
                      </a>
                    </td>
                    <td>
                      <a
                        href="/admin/edit_menu/<%= val.Id%>/starter"
                        onclick="return confirm('Are u sure ? ')"
                      >
                        <i class="fa fa-edit text-success fw-bold"></i>
                      </a>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>

            <!-- main menu -->
            <div style="border-top: 5px solid white">
              <h4 class="text-warning fw-bold my-3 text-center">Main Menu</h4>
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% mainmenu.map((val)=>{%>
                  <tr>
                    <td><%= val.Id%></td>
                    <td><%= val.menu_name%></td>
                    <td><%= val.menu_price%></td>
                    <td>
                      <img
                        src="/uploads/<%= val.menu_img%>"
                        height="80px"
                        width="100px"
                        alt=""
                      />
                    </td>
                    <td>
                      <a
                        href="/admin/del_menu/<%= val.Id%>/mainmenu"
                        onclick="return 
                          confirm('Are u sure ? ')"
                      >
                        <i class="fa fa-trash text-danger fw-bold"></i>
                      </a>
                    </td>
                    <td>
                      <a
                        href="/admin/edit_menu/<%= val.Id%>/mainmenu"
                        onclick="return confirm('Are u sure ? ')"
                      >
                        <i class="fa fa-edit text-success fw-bold"></i>
                      </a>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>

            <!-- desserts -->
            <div style="border-top: 5px solid white">
              <h4 class="text-warning fw-bold my-3 text-center">Desserts</h4>
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% desserts.map((val)=>{%>
                  <tr>
                    <td><%= val.Id%></td>
                    <td><%= val.menu_name%></td>
                    <td><%= val.menu_price%></td>
                    <td>
                      <img
                        src="/uploads/<%= val.menu_img%>"
                        height="80px"
                        width="100px"
                        alt=""
                      />
                    </td>
                    <td>
                      <a
                        href="/admin/del_menu/<%= val.Id%>/desserts"
                        onclick="return 
                          confirm('Are u sure ? ')"
                      >
                        <i class="fa fa-trash text-danger fw-bold"></i>
                      </a>
                    </td>
                    <td>
                      <a
                        href="/admin/edit_menu/<%= val.Id%>/desserts"
                        onclick="return confirm('Are u sure ? ')"
                      >
                        <i class="fa fa-edit text-success fw-bold"></i>
                      </a>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
