<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restoran</title>

    <!-- cdn links -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <!-- navbar -->
    <div class="div1">
      <nav class="navbar navbar-expand-lg p-3 text-light">
        <a href="#" class="navbar-brand text-warning fw-bold mx-5 display-3"
          >Restoran</a
        >

        <button
          class="navbar-toggler bg-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
          aria-controls="nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse me-5" id="nav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/" class="nav-link text-light">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link text-light">About</a>
            </li>
            <li class="nav-item">
              <a href="#service" class="nav-link text-light">Service</a>
            </li>
            <li class="nav-item">
              <a href="/menu" class="nav-link text-light">Menu</a>
            </li>
            <li class="nav-item">
              <a href="#booking" class="nav-link text-light">Booking</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link text-light">Contact</a>
            </li>
            <li class="nav-item mx-2">
              <% if(usernm=="User"){%>
              <a href="/sign">
                <button class="btn btn-warning text-light fw-bold px-4 ms-2">
                  Sign in
                </button>
              </a>
              <%} else{%>
                  <h6>Hello,<br> <%=usernm%></h6>
              <%}%>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- home page -->
    <div class="container-fluid m-0 p-0" id="main_div">
      <div class="row m-0 p-4" id="main_div1">
        <div class="col-md-6 col-12 p-5">
          <h1 class="text-light fw-bold display-3">
            Enjoy Our Delicious Meal!
          </h1>
          <p class="text-light fs-small">
            "Good food, great vibes. We bring people together with mouthwatering
            dishes, a warm atmosphere, and friendly service. Discover the
            perfect spot for your next meal."
          </p>
          <a href="#booking"
            ><button class="btn btn-warning px-4 text-light my-3">
              Book A Table
            </button></a
          >
        </div>
        <div class="col-md-6 col-12 p-4">
          <img
            src="images/first.jpg"
            height="100%"
            width="100%"
            style="border-radius: 50%"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- service -->
    <div class="container-fluid m-0 py-5" id="service">
      <h4
        class="text-center text-warning fw-bold"
        style="font-variant: small-caps"
      >
        <i>Our Services</i>
      </h4>

      <h3 class="text-center" style="color: #191928 !important">
        Explore Our Services
      </h3>

      <div class="row m-0 p-4">
        <% data.map((val)=>{ %>
        <div class="col-md-3 p-2">
          <div class="w-100 p-2 hoverClass">
            <img src="/uploads/<%= val.serv_img%>" height="60px" />
            <h5 class="my-3"><%= val.serv_name%></h5>
            <p><%= val.serv_info%></p>
          </div>
        </div>
        <%})%>
      </div>
    </div>

    <!-- about us -->
    <div class="container-fluid m-0 p-5" id="about">
      <div class="row m-0 p-0">
        <div class="col-md-6 m-0 p-0 col-12">
          <div class="row m-0 p-0">
            <div class="col-md-6 col-12 m-0 p-2">
              <img
                src="/images/about-1.jpg"
                height="200px"
                width="94%"
                alt=""
              />
            </div>
            <div class="col-md-6 col-12 m-0 p-2">
              <img
                src="/images/about-2.jpg"
                style="position: relative; top: 50px; right: 1%"
                height="150px"
                width="70%"
                alt=""
              />
            </div>
          </div>
          <div class="row m-0 p-0">
            <div class="col-md-6 col-12 m-0 p-2">
              <img
                src="/images/about-3.jpg"
                style="position: relative; left: 25%"
                height="150px"
                width="70%"
                alt=""
              />
            </div>
            <div class="col-md-6 col-12 m-0 p-2">
              <img
                src="/images/about-4.jpg"
                height="200px"
                width="94%"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 ps-5">
          <h4 class="text-warning fw-bold" style="font-variant: small-caps">
            <i>About Us</i>
          </h4>
          <h1 class="display-5 fw-bold" style="color: #191928">
            Welcome to Restoran
          </h1>

          <h6 class="my-4 fw-normal">
            Food is more than just a meal—it’s an experience, a passion, and a
            way of bringing people together. Founded on the principles of
            quality, creativity, and exceptional service, we aim to create
            moments that leave lasting impressions.
          </h6>

          <h6 class="my-4 fw-normal">
            With a vision to provide a dining experience that blends tradition
            and innovation. From our humble beginnings as a family-run eatery,
            we have grown into a beloved destination for food lovers.
          </h6>

          <a href="/sign"
            ><button class="btn btn-warning text-light fw-bold px-4 ms-2">
              Sign in
            </button></a
          >
        </div>
      </div>
    </div>

    <!-- booking -->
    <div class="row m-0 p-0" id="booking">

      <div class="col-md-6 m-0 p-0">
        <img src="images/booking.webp" height="100%" width="100%" alt="" />
      </div>

      <div class="col-md-6 m-0 p-5" style="background-color: #0f172b">
        <h4 class="text-warning fw-bold" style="font-variant: small-caps">
          <i>Reservation</i>
        </h4>
        <h1 class="fw-bold text-light">Book A Table Online</h1>

        <form action="/booktable" method="post" class="pt-4">
          <div class="form-group my-3">
            <input
              type="text"
              placeholder="Name"
              name="booking_name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group my-3">
            <input
              type="email"
              placeholder="Email"
              name="booking_email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group my-3">
            <input
              type="date"
              name="booking_date" min="<%=new Date().toISOString().slice(0,10)%>"
              class="form-control"
              required
            />
          </div>
          <div class="form-group my-3">
            <input
              type="time"
              name="booking_time"
              class="form-control"
              required
            />
          </div>
          <div class="form-group my-3">
            <input
              type="number"
              placeholder="Number of People"
              name="booking_no"
              class="form-control"
              required
            />
          </div>
          
          <div class="form-group text-center my-4">
            <button class="btn btn-warning text-light">Book A Table</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Team -->
    <div class="container-fluid m-0 py-5">
      <h4
        class="text-warning fw-bold text-center"
        style="font-variant: small-caps"
      >
        <i>Team Members</i>
      </h4>
      <h1 class="fw-bold text-center">Our Master Chefs</h1>

      <div class="row m-0 p-4">
        <% data1.map((val)=>{ %>
        <div class="col-md-3 p-2">
          <div class="w-100 p-5 hoverClass text-center">
            <img
              src="/uploads/<%= val.Profile%>"
              style="border-radius: 50%"
              height="150px"
            />
            <h5 class="my-3"><%= val.Name%></h5>
            <h6><%= val.Role%></h6>
          </div>
        </div>
        <%})%>
      </div>
    </div>

    <!-- Contact -->
    <div class="container-fluid m-0 py-5" id="contact">
      <h4
        class="text-center text-warning fw-bold"
        style="font-variant: small-caps"
      >
        <i>Contact Us </i>
      </h4>
      <h1 class="text-center fw-bold">Contact For Any Query</h1>

      <div class="row py-5 px-2 m-0">
        <div class="col-md-6 col-12">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6000623.759652719!2d-75.770041!3d42.74622!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1713777535023!5m2!1sen!2sbd"
            height="100%"
            width="100%"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>

        <div class="col-md-6 col-12 p-2 px-4">
          <form action="/savecontact" method="post">
            <div class="form-group my-3">
              <input
                type="text"
                name="name"
                placeholder="Name"
                class="form-control"
                required
              />
            </div>
            <div class="form-group my-3">
              <input
                type="text"
                name="email"
                placeholder="Email"
                class="form-control"
                required
              />
            </div>
            <div class="form-group my-3">
              <input
                type="text"
                name="subject"
                placeholder="Subject"
                class="form-control"
                required
              />
            </div>
            <div class="form-group my-3">
              <textarea
                name="msg"
                placeholder="Message"
                class="form-control"
                required
              ></textarea>
            </div>
            <button class="btn btn-warning text-center text-light">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="row m-0 p-3 pe-3" style="background-color: #191928">
      <div class="col-12">
        <div class="row m-0 p-0">
          <!--  Company  -->
          <div class="col-lg-3 col-md-6 col-12">
            <ul class="my-2 text-light" style="list-style-type: none">
              <li
                class="text-warning fw-bold h5"
                style="font-variant: small-caps"
              >
                Company
              </li>
              <li><i class="bi bi-chevron-right"></i> About Us</li>
              <li><i class="bi bi-chevron-right"></i> Contact Us</li>
              <li><i class="bi bi-chevron-right"></i> Reservation</li>
              <li><i class="bi bi-chevron-right"></i> Privacy Policy</li>
              <li><i class="bi bi-chevron-right"></i> Terms & Condition</li>
            </ul>
          </div>

          <!-- contact  -->
          <div class="col-lg-3 col-md-6 col-12">
            <ul class="my-2 text-light" style="list-style-type: none">
              <li
                class="text-warning fw-bold h5"
                style="font-variant: small-caps"
              >
                Contact
              </li>
              <li>
                <i class="bi bi-geo-alt fw-bold me-2"></i> 123 Street, New York,
                USA
              </li>
              <li>
                <i class="bi bi-telephone-fill fw-bold me-2"></i> +012 345 67890
              </li>
              <li>
                <i class="bi bi-envelope fw-bold me-2"></i> info@restaron.in
              </li>
            </ul>
          </div>

          <!--  opening  -->
          <div class="col-lg-3 col-md-6 col-12">
            <ul class="my-2 text-light" style="list-style-type: none">
              <li
                class="text-warning fw-bold h5"
                style="font-variant: small-caps"
              >
                Opening
              </li>
              <li class="h6 fw-bold">Monday - Saturday</li>
              <li class="h6 fw-normal">09AM - 09PM</li>
              <li class="h6 fw-bold">Sunday</li>
              <li class="h6 fw-normal">10AM - 08PM</li>
            </ul>
          </div>

          <!--  Newsletter -->
          <div class="col-lg-3 col-md-6 col-12">
            <b class="text-warning fw-bold h5" style="font-variant: small-caps"
              >Newsletter</b
            >
            <br />
            <b class="text-light fw-bold">
              Dolor amet sit justo amet elitr clita ipsum elitr est.
            </b>
            <form action="" class="d-flex mt-3">
              <input type="email" placeholder="Your Mail" required />
              <button type="submit" class="btn btn-warning text-light">
                Sign up
              </button>
            </form>
          </div>
        </div>

        <div class="row m-0 py-3 text-center">
          <h6 class="text-light">© Copyright Restoran, All Right Reserved</h6>
        </div>
      </div>
    </div>
    
  </body>
</html>
